<template>
  <v-form @submit.prevent="register">
    <v-row justify="center" align="center">
      <v-col
        cols="12"
        md="8"
      >
        <v-text-field
          v-model="form.username"
          label="UserName"
          required
        ></v-text-field>
        <v-text-field
          v-model="form.name"
          label="Name"
          required
        ></v-text-field>
        <v-text-field
          v-model="form.email"
          label="E-Mail"
          required
          type="email"
        ></v-text-field>
        <v-text-field
          v-model="form.password"
          label="Password"
          type="password"
          required
        ></v-text-field>
        <v-text-field
          v-model="form.password_confirmation"
          label="Confirm Password"
          type="password"
          required
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row justify="center" align="center">
      <v-col cols="12" class="text-center">
        <v-btn type="submit">Register</v-btn>
      </v-col>
    </v-row>

    <v-row justify="center" align="center">
      <v-col cols="12" class="text-center">
        <v-btn dark color="indigo" to="/login">Login</v-btn>
      </v-col>
    </v-row>
    <v-snackbar v-model="isError" bottom right multi-line vertical>
      <p class="blue-grey--text text--lighten-4">
        {{ error_message }}
      </p>
      <p v-for="(error, index) in errors" :key="index" class="blue-grey--text text--lighten-4">
        Error: {{error[0]}}
      </p>
      <v-btn color="red" text @click="isError = false" >
        Close
      </v-btn>
    </v-snackbar>
  </v-form>
</template>
<script>
  export default {
    name: 'RegisterForm',
    data () {
      return {
        form: {
          username: null,
          name: null,
          password: null,
          password_confirmation: null,
          email: null
        },
        errors: {},
        error_message: null,
        isError: false,
      }
    },
    methods: {
      register () {
        // User.register(this.form)
        axios.post('api/auth/signup', this.form)
        .then(response => { User.responseAfterLogin(response) })
        .catch(error => {
          this.errors = error.response.data.errors
          this.error_message = error.response.data.message
          this.isError = true
        })
      }
    }
  }
</script>
